@import "tailwindcss";


html,
body,
#root {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
/* html{
    overflow-y: hidden;
} */
/* Add this class to disable scrolling when needed */
body.has-scroll {
	overflow: scroll;
}

.app-container {
    position: relative;
    width: 100%;
    height: 100%;
}

/* Canvas should fill the screen */
.app-container canvas {
    position: absolute;
    top: 0;
    left: 0;
    /* width: 100%; */
    /* responsive */
    /* height: 100%; */
    border: 1px solid #ccc;
}
